$color-primary: rgb(6, 87, 207);
$color-secondary: rgba(236, 241, 255, 0.66);

div{
  padding: 0;
  margin: 0;
}

.menu {
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  background-color: $color-secondary;
  color: $color-primary;
  padding: 4%;
  border-radius: 10px;
  text-align: center;
  cursor:pointer;
  margin-bottom: 10vh;
}

.menu-item {
  padding: 4% 0 4% 9%;
  margin: 10px;
  border-radius: 10px;
}

.menu-item:hover, .selected-item {
  background-color: $color-primary;
  color: white;
  cursor: pointer;
}

.greeting {
  padding: 4% 0 4% 9%;
  margin: 0 10px 20px 10px;
  border-radius: 10px;
  text-align: center;
}

.fragment{
  height: 100vh;
}
