<div class="login-page">
  <form class="custom-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-outline mb-4">
      <input type="text" id="username" formControlName="username" class="form-control"/>
      <label class="form-label" for="username">Username</label>
    </div>
    <div class="form-outline mb-4">
      <input type="password" id="password" formControlName="password" class="form-control"/>
      <label class="form-label" for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Log in</button>
  </form>

</div>
