body {
  background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: url("../../../assets/images/dd149929768ad9867aa554968d3bc32a.jpg");
  background-size: 100% auto;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.custom-header{
  margin: 50px 20px 20px 30px;
}
