$color-primary: rgb(6, 87, 207);
$color-secondary: rgba(236, 241, 255, 0.66);

.custom-header{
  margin: 50px 20px 20px 30px;
}

.custom-card {
  height: 35vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card:hover{
  background-color: $color-secondary;
  cursor: pointer;
}
