<form *ngIf="doctor" class="row wrapper" [formGroup]="updateUserForm" (submit)="onSubmit()">
  <div class="col-4 avatar">
    <div>
      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>
      <img *ngIf="doctor.profilePicture && !selectedFile" src="{{doctor.profilePicture}}" alt="Profile Picture"
           class="avatar-image"/>
      <img *ngIf="selectedFile" src="{{selectedFile}}" alt="Profile Picture" class="avatar-image"/>
      <img *ngIf="!doctor.profilePicture && doctor.gender == 'FEMALE' && !selectedFile" class="avatar-image"
           src="assets/images/doctorka.jpg"
           alt="Profile picture"/>
      <img *ngIf="!doctor.profilePicture && doctor.gender == 'MALE' && !selectedFile" class="avatar-image"
           src="assets/images/doctor.jpg"
           alt="Profile picture"/>
      <span (click)="fileUpload.click()" class="badge rounded-pill badge-notification bg-secondary p-2 pointer"><i
        class="fas fa-plus"></i></span>
    </div>

    <div class="mt-4">{{doctor.name}}</div>
  </div>
  <div class="col-7">
    <div class="form-outline mb-4 form-background">
      <input type="text" id="doctorName" class="form-control p-3" formControlName="doctorName"/>
      <label class="form-label" for="doctorName">Name</label>
    </div>
    <div class="btn-group mb-4 radio-buttons">
      <input
        type="radio"
        class="btn-check"
        name="doctorGender"
        id="FEMALE"
        autocomplete="off"
        formControlName="doctorGender"
        value="FEMALE"
      />
      <label class="btn btn-primary" for="FEMALE">FEMALE</label>

      <input type="radio"
             class="btn-check"
             name="doctorGender"
             id="MALE"
             value="MALE"
             autocomplete="off"
             formControlName="doctorGender"/>
      <label class="btn btn-primary" for="MALE">MALE</label>
    </div>
    <div class="btn-group mb-4">
      <input value="EN" type="checkbox" class="btn-check" id="EN" autocomplete="off" (change)="onCheckChange($event)" [checked]="doctor.languages.includes('EN')"/>
      <label class="btn btn-primary" for="EN">English</label>

      <input value="MK" type="checkbox" class="btn-check" id="MK" autocomplete="off" (change)="onCheckChange($event)" [checked]="doctor.languages.includes('MK')"/>
      <label class="btn btn-primary" for="MK">Macedonian</label>

      <input value="AL" type="checkbox" class="btn-check" id="AL" autocomplete="off" (change)="onCheckChange($event)" [checked]="doctor.languages.includes('AL')"/>
      <label class="btn btn-primary" for="AL">Albanian</label>
    </div>
    <div class="mt-5">
      <button type="submit" class="btn btn-secondary">Save</button>
    </div>
  </div>
</form>
<form class="row wrapper" [formGroup]="updateUserForm" (submit)="onSubmit()" *ngIf="patient">
  <div class="col-4 avatar">
    <div>
      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>
      <img *ngIf="patient.profilePicture && !selectedFile" src="{{patient.profilePicture}}" alt="Profile Picture"
           class="avatar-image"/>
      <img *ngIf="selectedFile" src="{{selectedFile}}" alt="Profile Picture" class="avatar-image"/>
      <img *ngIf="!patient.profilePicture && patient.gender == 'FEMALE' && !selectedFile" class="avatar-image"
           src="assets/images/patientf.jpg"
           alt="Profile picture"/>
      <img *ngIf="!patient.profilePicture && patient.gender == 'MALE' && !selectedFile" class="avatar-image"
           src="assets/images/male_patient.png"
           alt="Profile picture"/>
      <span (click)="fileUpload.click()" class="badge rounded-pill badge-notification bg-secondary p-2 pointer"><i
        class="fas fa-plus"></i></span>
    </div>
    <div class="mt-4">{{patient.name}}</div>
  </div>
  <div class="col-7">
    <div class="form-outline mb-4 form-background">
      <input id="patientName" type="text" class="form-control p-3" formControlName="patientName"/>
      <label class="form-label" for="patientName">Name</label>
    </div>
    <div class="btn-group mb-4 radio-buttons">
      <input
        type="radio"
        class="btn-check"
        name="patientGender"
        id="FEMALE1"
        autocomplete="off"
        formControlName="patientGender"
        value="FEMALE"
      />
      <label class="btn btn-primary" for="FEMALE1">FEMALE</label>

      <input type="radio"
             class="btn-check"
             name="patientGender"
             id="MALE1"
             value="MALE"
             autocomplete="off"
             formControlName="patientGender"/>
      <label class="btn btn-primary" for="MALE1">MALE</label>
    </div>
    <div class="form-outline mb-4 form-background">
      <input id="embg" type="text" class="form-control p-3" formControlName="patientEmbg"/>
      <label class="form-label" for="embg">EMBG</label>
    </div>
    <div class="mt-5">
      <button type="submit" class="btn btn-secondary">Save</button>
    </div>
  </div>
</form>
